.contact-section {
  padding: 5rem 0;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  // background: linear-gradient(0deg,#4A494A 0%, #4A494A 100%), url('../images/bg-06.png');
  height:100vh; //possibly remove this
  }

 