.contact-section {
  *{
      margin: 0; padding: 0; box-sizing: border-box;
   }
  
  .grid-container{
    background: linear-gradient(0deg,#4A494A 0%, #4A494A 100%), url('../images/bg-06.png');
    padding: 2% 0 0;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-gap: 25px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid-item{
   
   padding: 20px;
  }
  // 
  #title{
    font-size: 3rem;
    width: 80%;
    // border: black 2px solid;
    grid-column-start: 3;
    grid-column-end: 6;
  }
  .grid-item2{
    width: 80%;
    display: flex;
    justify-content: center;
    // border: black 2px solid;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    line-height: 50px;
  }
  .grid-item3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    // border: black 2px solid;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

 