#education{

    .education-container{
        padding-top: 3rem;
        text-align: left;
        line-height: 0.5rem;
    
    }


        @media (min-width: 400px) {
           
            .card{
                padding: 2rem;    
            }
            .edutext, .card {
                padding-top: 0.50em;
                display: block;
                margin-left: auto;
                margin-right: auto;                
            } 
        }

        @media only screen and (max-width: 991px) and (min-width: 768px) {
             h2{
                 font-size: 40px;
             }
             .card{
                 width: 450px;
             }
             .component-container{
                   padding: 0 5% 0;              
             }
        
        }
    
        @media (min-width: 992px) {
           
            h2{
                font-size: 45px;
            }
            .component-container{
                padding: 0 3em 0;
            }
            .edutext, .component-container{
                padding-top: 0.50em;
                max-width: 90vw;
                display: block;
                margin-left: auto;
                margin-right: auto;
            } 
            .card{
                padding: 2rem;
                width: 400px;
            } 
            .container{

                max-width: 95vw;
            }    
        }

       
      
}




