// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}
.contact-container{
  // padding-bottom: 4rem;
  line-height: 2rem;
  text-align: left;
  height: 65vh;
  border: 2px solid seagreen;
  // background-color: #4A494A;
  text-align: left;
  color: #fff;
}
#contactinfo>h3{
  color: #C0A4FE;
  font-size: 3rem;
}
#contactinfo>a{
 padding-bottom: 1rem;
//  line-height: 20px;
}

footer{
  background-color: #fff ;
  // color: #4A494A; $footer
}
// Custom horizontal rules
// hr.divider {
//   max-width: 3.25rem;
//   border-width: 0.2rem;
//   border-color: $primary;
// }

// hr.light {
//   border-color: $white;
// }

// Button restyling
.btn {
  font-family: Helvetica Rounded;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 1rem 0 1rem;
  border: 2px solid black;
}
