#home {
   width: 100vw;
   background: url(../images/triangles.png) no-repeat center center fixed, linear-gradient(0deg, #6723C6 0%, rgba(0, 239, 181, 0.87) 100%);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
 

   @media (min-width: 400px) {
   .circle{
     border-radius: 100%;
     width: 150px;
     height: 150px;
   }
   
   .img-container{
    //  border: 2px dotted darkblue; 
     padding: 1em;
     max-width: 220px;
     margin-top: 2em;
     display: block;
     margin-left: auto;
     margin-right: auto;
   }
   .text{
     margin-top: 20px;
     border: 2px solid black;
     padding: 0 1.5rem 0;
     padding-bottom: .5rem;
   }
  
   .button{
    display: flex;
    justify-content: center;
    //  border: 2px dotted rgb(22, 0, 117);
     padding: 20px 0 20px;
   
   }
   .top-icons{
    //  border: 2px dotted red;
     width: 100%;
     margin-top: 2rem;
     margin-bottom: 0;
   }
   i{
     margin-top: 0;
     color: $lightgreen;
     font-size: 35px;
   }
   h1{
     text-align: left;
   }
   p{
     font-family: 'Montserrat';
     font-weight: 400;
     font-size: 18px;
     text-align: left;
     color: black;
   }
 
   .container{
     max-width: 90vw;
     border: 2px solid greenyellow;
     padding-top: 2em;
   }
   .btn{
     background-color: black;
     padding: 1em;
   }
   .btn:hover{
     color: $lilac;
   }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
     .heading-text, .para-text {
        padding: 0 2rem 0;
        border: 1px dotted rgb(247, 247, 247);
     }
     h1, p{
       text-align: center;
     }
  }
  @media (min-width: 992px) {
    height: 100vw;
    h1, p{
      text-align: center;
    }
    .img-container{
      margin-top: 5rem;
    }
    .heading-text{
      margin-bottom: 1rem;
    }
    .text{
      margin: 0 25% 0;
      margin-top: 20px;
      border: 2px solid yellowgreen;
      padding: 0 1rem 0;
      padding-bottom: .5rem;
    }
    .top-icons{
       border: 2px dotted red;
       width: 100%;
       margin-top: 2rem;
       margin-bottom: 0;
     }

  }



}
