#home {
   max-width: 100vw;
   background: url(../images/triangles.png) no-repeat center center fixed, linear-gradient(0deg, #6723C6 0%, rgba(0, 239, 181, 0.87) 100%);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;

   .top-icons{
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
   i{
    margin-top: 0;
    color: fade-out($lightgreen, .25);
    font-size: 35px;
  }
  i:hover{
   color: $lightgreen;
  }
   .circle{
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }

   @media (min-width: 400px) {
   .circle{
     border-radius: 100%;
     width: 150px;
     height: 150px;
   }
   
   .img-container{
  
     padding: 1em;
     max-width: 220px;
     margin-top: 2em;
     display: block;
     margin-left: auto;
     margin-right: auto;
   }
   .text{
     margin-top: 20px;
     padding: 0 1.5rem 0;
     padding-bottom: .5rem;
   }
  
   .button{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
   
   }
   .top-icons{
     width: 100%;
     margin-top: 1rem;
     margin-bottom: 0;
   }
  
   h1{
     text-align: left;
   }
   p{
     font-family: 'Montserrat';
     font-weight: 400;
     font-size: 18px;
     text-align: left;
     color: black;
   }
 
   .container{
     max-width: 90vw;
     padding-top: 2em;
   }
   .btn{
     background-color: black;
     padding: 1em;
   }
   .btn:hover{
     color: $lilac;
   }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
      
     .img-container{
       margin-top: 4rem;
       margin-bottom: 1rem;
       border: 2px solid black;
     }
     .text{
       margin-top: 2rem;
     }
     .heading-text, .para-text {
      padding: 0 2rem 0;
      margin: 0 10% 0;
     }
     .heading-text{
       margin-bottom: 20px;
     }
     h1,p{
      text-align: center;
     }
     
     p{
       line-height: 30px;
     }
   
  }
  @media (min-width: 992px) {
    height: 99vh;
    h1, p{
      text-align: center;
    }
    .circle{
      width: 190px;
      height: 190px;
    }
    .img-container{
      margin-top: 4rem;
    }
    .heading-text{
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    .text{
      margin: 0 25% 0;
      padding: 0 1rem 0;
    }
    h1{
      font-size: 50px;
    }
    p{
      font-size: 20px;
      line-height: 35px;
    }
    .btn{
      background-color: black;
      padding: 1em;
    }
    .top-icons{
       padding: 1rem 0 1rem;
       display: flex;
       justify-content: center;
       width: 20%;
       text-align: center;  
     }

  }



}
