.masthead {
 .btn{
     background: rgba(0, 0, 0, 0.86);
     border-radius: 100px;
     width: 169px;
     height: 48px;
 }
  

  position: relative;
  width: 100%;
  // height: auto;
  height: 110vh;
  padding: 1rem 0; //15rem
  background: url(../images/triangles.png)  center center fixed, linear-gradient(0deg, #6723C6 0%, rgba(0, 239, 181, 0.87) 100%);
  // background: linear-gradient(0deg, #6723C6 0%, rgba(0, 239, 181, 0.87) 100%), url(../images/triangles.png);
  background-attachment: scroll;
  

  @media (min-width: 400px) {
    img{
      min-width: 190px;
      max-width: 200px;
      width: 33%;
      // margin-top: 5%;
    }

  }
  @media (min-width: 768px) {
    img {
      width: 26%;
    }
    figure{
      display: flex;
      justify-content: center;
      align-content: center;
    }
   
  }
  @media (min-width: 992px) {
    height: 95vh;
    padding: 0;
    margin: 0;
    img {
      width: 20%;    
    }
  }

  // Animation code below

  .text {
    align-self: flex-end;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
/*         transform-origin: top; */
  }
 .floating {
    animation-name: floating;
    animation-timing-function: linear;
 }
@keyframes floating {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

}
