// Styling for the projects section
#projects {
  border: 1px solid $gray-600;
  h2{
    font-family: "Segoe UI";
  }
  .project-card {
    width: 100%;
  }    
  p {
    font-family: "Montserrat";
    font-weight: bold;
    color: #5B089B;
    line-height: 8px;
    font-size: 17px;
  }

  @media (min-width: 400px) {
    p {
      font-size: 20px;
    }
    // h2 {
    //    font-size: 38px;
    // }
    .card-container{   
        padding: 0 8% 0
    }
    .project-card{
      padding: 0 5% 0;
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
   
    #project-imgs, .project-title, .project-subtitle { 
      max-width: 280px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      line-height: 14px;
    }
    h2{
      font-size: 40px;
    }
  }

  @media (min-width: 992px) {

       #project-imgs,.project-title, .project-subtitle{ 
           max-width: 350px;
           display: block;
           margin-left: auto;
           margin-right: auto;
           line-height: 1rem;
       }
     h2{
       font-size: 45px;
     }

  }
  

}