#skills {
    // height: 90vh;
    h2 {
        font-family:  "Segoe UI";
        font-size: 38px;
    }
    .container{
        
        border: 3px solid yellowgreen;
        width: 95vw;
        padding-bottom: 5px;
    }
    .heading, .subheading{
        border: 1px darkblue dotted;
        padding: 0.50em;
    }
    .group1, .group2{
        display: inline-block;
        padding: 1em;
        border: 1px dashed darkcyan;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
   
    h3 {
        font-family: "Montserrat";
        font-weight: bold;
        color: #5B089B;
        line-height: 15px;
        font-size: 17px;
      }
     

    @media only screen and (max-width: 991px) and (min-width: 768px) {
       h2{
           font-size: 40px;
       }
       h3{
        font-size: 20px;
    }
     
    }
    @media (min-width: 992px) {
        h2{
            font-size: 45px;
        }  h3{
            font-size: 22px;
        }

    }


}