@import './bootstrap/bootstrap.min.css';
@import 'variables.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'skills.scss';
@import 'projects.scss';
@import 'education.scss';
@import 'contact.scss';

@import './fontawesome/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');



h1 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.05em;
  color: white;
}
h2 {
  font-family: 'Segoe UI';
  color: rgba(0, 0, 0, 0.95);
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 25px;
  color: #5B089B;
  font-weight: normal;
}

p {
  font-size: 1.35em;
  text-align: 'center';
  font-style: normal;
  font-weight: 300;
}

body{
  font-family: 'Montserrat';
}

a {
     color: $litegreen;
     &:hover {
     text-decoration: none;
     color: $white;
    }
}
ul{
  list-style: none;
}

.bg-black {
  background-color: $gray-300 !important;
}
.bg-gray-200{
  background-color: $gray-200 !important;
}
.bg-primary {
  background-color: $teal !important;
}

.text-primary {
  color: $white !important;
}
.text-secondary{
color: $litegreen !important;
}
.text-third{
  color: $lilac !important;
}

footer {
   padding: 1.75rem 0;
   font-size: 90%;
}
